<html>
    
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width initial-scale=1.0">
        <script src="http://code.jquery.com/jquery-1.7.min.js" ></script>
        <title>반응형 웹</title>
        <link rel ="stylesheet" href="./reset.css">
        <link rel="stylesheet" href="./responsive.css">
    
    
        <div class="wrap">
            <header>
                    <a >SEOUL</a>
                </nav>
            </header>
            <section>
                <div id = "Seoul">
                    <h1>서울</h1>
                    <h2 class="sdate">  </h2>
                    <div class="stemp">현재 온도: </div>
                    <div class="slowtemp">최저 온도: </div>
                    <div class="shightemp">최고 온도: </div>
                    <div class="sicon">아이콘 :  </div>
                    </div> </div>
            </section>
            <footer>
            </footer>
        </div>
        <script src="../static/responsive_weather.js"></script>
        <script src="../static/toggle.js"></script>
    
</html>